.wrapper {
    position: relative;
    display: flex;
    width: var(--width);
    height: 433px;

    // left: 50%;
    // transform: translateX(-50%);
    background: linear-gradient(150deg, rgb(168, 45, 72), rgb(1, 1, 39));

    flex-direction: column;
}

ul {
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

ul::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

h2 {
    color: #fff;
    font-size: 24px;
    margin: 0 0 13px 15px;
}

.playing {
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    left: 3%;
    width: 94%;
    height: 60px;
    border-radius: 15px;
    background-color: #95223d;
    margin: 0 0 20px 0;

    .name-author {
        display: block;
        margin-left: 20px;
        align-items: center;
        .song-name {
            margin: 6px 0 0 0;
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
        }
        .song-author {
            font-size: 13px;
            font-weight: 400;
        }
    }

    .curr-img {
        display: flex;
        margin-left: 10px;
        border-radius: 5px;
        overflow: hidden;
        width: 40px;
        height: 40px;
    }
}
